{erl_opts, [
            debug_info,
            inline_list_funcs,
            warn_deprecated_function,
            warn_export_all,
            warn_export_vars,
            warn_obsolete_guard,
            warn_shadow_vars,
            warn_untyped_record,
            warn_unused_function,
            warn_unused_import,
            warnings_as_errors
           ]}.

{lib_dirs, ["apps"]}.
{sub_dirs, ["apps/beat_core", "apps/beat_tcp_api"]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
